.husky/
.nuxt/
.jenkins.d/
.tx/
.gitignore
.prettierignore
.stylelintignore
.env*

chopin/assets/style/external/
chopin/assets/fonts/
tests/
**/coverage/
**/__snapshots__/

*.md
*.yml
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.tf
*.tfvars
*.txt
*.disable
*.old
*.lock

Jenkinsfile
Dockerfile

.nvmrc
.browserslistrc

chopin/infra/
