name: Run linting on pull request

on:
  - pull_request
jobs:
  run-linters:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v37
      - name: List all changed files
        if: steps.changed-files-specific.outputs.test_all_changed_files == 'true'
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            echo "$file was changed"
          done
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: v18.16.0
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v37
        with:
          files: |
            *.{vue, js, scss, css}
      - name: Install dependencies
        run: npm install && npm install prettier -g
      - name: Run Prettier
        run: prettier --check ${{ steps.changed-files.outputs.all_changed_files }}
